//COLOR
$color: #E87121; $color-50: #e871217e;
$sec-color: #75A8F0;
$tert-color: #1dafb7; $tert-color-50: #1dafb780;
$qth-color: #FF8B3D;
$fth-color: #9C450B;
$grayscale-light: #e7e5e5;
$grayscale-dark: #737373;
$confirmation: #068543;
$decline: #E8402C;

//FONT
$font: sans-serif;
$regular: 400;
$medium: 500;
$semi: 600;
$bold: 700;
$h1: 1.25rem;
$h2: 1.125rem;
$h3: 1rem;
$p: .875rem;
$small: .75rem;

//MARGIN & PADDING
$xs: .2rem;
$sm: .5rem;
$md: .8rem;
$lg: 1.2rem;
$xl: 2rem;

//SHADOW
$bsxs: 0 2px 5px #00000073;
$bssm: 0 5px 5px #00000073;
$bsmd: 0 10px 10px #00000073;
$bslg: 0 15px 15px #00000073;
$bsxl: 0 20px 20px #00000073;

$r-bsxs: 0 -2px 5px #00000073;
$r-bssm: 0 -5px 5px #00000073;
$r-bsmd: 0 -10px 10px #00000073;
$r-bslg: 0 -15px 15px #00000073;
$r-bsxl: 0 -20px 20px #00000073;