@import "../components.scss";
@import "../variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

nav {
  display: inline-flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  padding: 0 $xl;
  background: $color;
  z-index: 1;
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding: $md;
      color: #fff;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      font-weight: $semi;
      a {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .logo {
    display: flex;
    width: 20%;
    height: 100%;
    img {
      transform: scale(200%);
    }
  }
}

header {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  align-items: center;
  padding-top: 6.5rem;
  box-shadow: inset $r-bsxs;
  height: 70%;
  background: $color-50;
  img {
    object-fit: contain;
    margin: 0;
  }
  .text {
    width: 350px;
    h1 {
      margin-bottom: $md;
      color: white;
    }
    p {
      color: $grayscale-dark;
      font-weight: $medium;
    }
    span {
      color: white;
      line-height: 3rem;
      font-weight: $semi;
    }
  }
}

.services {
  display: flex;
  padding: $xl;
  flex-flow: column;
  background: $grayscale-light;
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    .card {
      @include card;
    }
  }
  h2 {
    color: $color;
    font-weight: $bold;
    text-align: center;
    padding: 0 0 $xl 0;
  }
}
